* {
  font-family: "Work Sans", sans-serif;
}
.header {
  background-image: url("./images/banner/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.header-content {
  text-align: right;
  padding-top: 150px;
  padding-right: 80px;
}
.paragraph {
  font-weight: 400;
  font-size: 16px;
}
.header-button {
  background-color: #f15b22;
  color: #ffffff;
  border: none;
  padding: 15px 15px;
}
/* section 2 */

.info {
  display: flex;
}
.discription {
  padding-top: 200px;
}
.title {
  font-weight: 700;
  font-size: 40px;
}
.img {
  margin: 0 100px;
}
/* section 3 */
.plan {
  text-align: center;
}
.badge h5 {
  color: #737272;
}
.badge h2 {
  color: #151414;
}
.all-info {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

/* section 4 */
.container {
  padding-left: 100px;
  padding-top: 200px;
  margin-bottom: 100px;
}
.banner-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./images/watch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1000px;
  height: 250px;
  border-radius: 8px;
  color: #ffffff;
}
.banner-3-button {
  width: 90px;
  padding: 10px 10px;
  color: #f15b22;
  background-color: #ffffff;
  border: none;
}
.banner-2,
h2 button {
  padding-left: 90px;
}
.banner-title {
  font-weight: 700;
  font-size: 40px;
}
/* section-5 */
footer {
  padding: 0px;
  margin: 0px;
  height: 500px;
  background: #151414;
  color: #ffffff;
}
.submit-button {
  font-weight: 600;
  font-size: 25px;
}
.container2 {
  display: flex;
  justify-content: center;
  gap: 200px;
}
input {
  background-color: #151414;
  border: 1px solid #fff;
  padding: 12px 18px;
  margin-bottom: 30px;
  color: #f3f3f3;
}
.intarnal {
  margin-top: 100px;
}
.intarnal {
  margin-top: 100px;
}

/* about me */
.about-desc {
  text-align: center;
  font-size: 18px;
}
